[Desktop Entry]
Version=1.0.0
Encoding=UTF-8
Name=witter
Comment=Python Twitter application 
Exec=/usr/bin/witter
Icon=witter
X-Icon-path=/usr/share/icons/
X-Window-Icon=witter
Type=Application

